[submodule "external/SVWebViewController"]
	path = external/SVWebViewController
	url = https://github.com/samvermette/SVWebViewController.git
[submodule "external/FlattrKit"]
	path = external/FlattrKit
	url = https://github.com/neonichu/FlattrKit.git
[submodule "external/VUPinboardActivity"]
	path = external/VUPinboardActivity
	url = https://github.com/neonichu/VUPinboardActivity.git
